.article-body {
	float: left;
	width: 590px;
	padding-bottom: 60px;

	@media (--tablet-vertical-max) {
		width: 550px;
	}

	@media (--mobile) {
		width: 100%;
	}
}

.article-body__lead {
	margin: -9px 0 45px;
	font-weight: 800;
	font-size: 16px;
	line-height: 25px;
	padding: 0 0 50px;
	position: relative;

	@media (--mobile) {
		font-size: 16px;
		line-height: 25px;
		padding: 0 0 30px;
		margin: 0 0 30px;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 8px;
		background-image: var(--pattern-green-dot);
		background-position: center center;
	}
}

.article__body-inner p {
	margin: 0 0 30px;
	font-size: 16px;
	line-height: 25px;
	font-family: var(--font-serif);

	@media (--mobile) {
		font-size: 16px;
		line-height: 25px;
	}
}

.article__body-inner blockquote {
	margin: 0 0 30px;
	padding-left: 27px;
	margin-left: -200px;
	color: #1f1f1f;
	font-weight: 800;
	font-size: 30px;
	line-height: 35px;
	font-family: var(--font-main);
	position: relative;

	@media (--tablet-vertical-max) {
		margin-left: -160px;
	}

	@media (--mobile) {
		margin-left: 0;
		font-size: 16px;
		line-height: 20px;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 5px;
		height: 100%;
		background-image: var(--pattern-green-line);
	}
}

.article__body-inner p .speech {
	display: inline-block;
	vertical-align: top;
	font-family: var(--font-main);
	margin-right: 40px;

	@media (--mobile) {
		margin-right: 20px;
	}
}

.article__body-inner h4 {
	font-family: var(--font-main);
	font-size: 30px;
	line-height: 32px;
	font-weight: 800;
	margin: 40px 0 30px;

	@media (--mobile) {
		font-size: 20px;
		line-height: 22px;
	}
}

.article__body-inner h6 {
	font-family: var(--font-main);
	font-size: 16px;
	line-height: 18px;
	font-weight: 800;
	margin: 0;
}

.article__body-inner hr {
	border: 0;
	margin: 30px 0;
	display: block;
	width: 90px;
	height: 5px;
	background-color: var(--color-main);
}

.article__body-inner figure {
	width: calc(100% + 200px);
	margin: 0 0 30px -200px;
	background-position: center center;
	background-image: var(--pattern-green-dot);

	& img {
		max-width: 100%;
	}

	@media (--tablet-vertical-max) {
		margin-left: -160px;
		width: calc(100% + 160px);
	}

	@media (--mobile) {
		margin-left: 0;
		width: 100%;
	}

	&.full {
		width: calc(100% + 300px + 100px);
		margin-left: -300px;

		@media (--tablet-vertical-max) {
			margin-left: -160px;
			width: calc(100% + 160px);
		}

		@media (--mobile) {
			margin-left: 0;
			width: 100%;
		}

		& figcaption {
			padding-left: 20px;

			@media (--tablet-vertical-max) {
				padding-left: 0;
			}
		}
	}

	& img {
		display: block;
		margin: 0 auto;
	}

	& figcaption {
		margin: 0;
		padding: 8px 0 0;
		display: block;
		background-color: #fff;
		color: #646464;
		font-family: var(--font-serif);
		font-size: 12px;
		line-height: 15px;
	}
}

.article-share-popopver {
	display: none;
	position: fixed;
	width: 150px;
	height: 50px;
	background-color: #1cde5f;
	margin: -10px 0 0;
	transform: translateY(-100%);
	padding: 0;
	list-style: none;
	white-space: nowrap;
	font-size: 0;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #1cde5f transparent transparent transparent;
	}

	& li {
		display: inline-block;
		vertical-align: top;
		width: 33.3333%;
		float: left;
		height: 100%;
	}
}

.article-share-popover__button {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;

	& svg {
		width: 50%;
		height: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		fill: #fff;
		transition: fill 0.3s ease 0s;
		will-change: fill;
	}

	&:hover svg {
		fill: rgba(255, 255, 255, 0.8);
	}
}
