.article-slider-container {
	position: relative;
	width: 790px;
	margin: 50px 0 50px -200px;

	@media (--tablet-vertical-max) {
		width: 510px;
		margin: 50px 0 50px -60px;
	}

	@media (--mobile) {
		width: calc(100% + 40px);
		margin-left: -20px;
	}
}

.article-slider {
	width: 100%;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	user-select: none;
}

.article-slider__container {
	width: 100%;
	height: 510px;
	transition: transform .9s;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	will-change: transform;
	cursor: grab;
	font-size: 0;

	@media (--tablet-vertical-max) {
		height: 380px;
	}

	@media (--mobile) {
		height: 210px;
	}

	&[data-grabbing="true"] {
		cursor: grabbing;
		transition: transform 0s;
	}
}

.article-slider__slide {
	width: 100%;
	height: 100%;
	position: relative;
	vertical-align: top;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.article-slider__figcaptions {
	padding: 0 20px 0 0;
	margin: 0;

	@media (--mobile) {
		margin-top: 40px;
		padding: 0 20px;
		border-top: 1px solid var(--color-main);
	}
}

.article-slider__figcaption {
	margin: 0;
	padding: 8px 0 0;
	display: block;
	background-color: #fff;
	color: #646464;
	font-family: var(--font-serif);
	font-size: 12px;
	line-height: 15px;
	display: none;
	white-space: normal;

	&.active {
		display: block;
	}
}

.article-slider__slide-count {
	right: 0;
	bottom: 2px;
	position: absolute;
	font-size: 12px;

	@media (--mobile) {
		right: auto;
		left: 50%;
		bottom: auto;
		transform: translateX(-50%);
		top: 224px;
	}
}

.article-slider__prev,
.article-slider__next {
	position: absolute;
	top: 200px;
	width: 100px;
	height: 100px;

	@media (--tablet-vertical-max) {
		top: 140px;
	}

	@media (--mobile) {
		width: 40px;
		height: 40px;
		top: 210px;
	}

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 8px;
		background-image: var(--pattern-green-dot);

		@media (--mobile) {
			display: none;
		}
	}

	&::before {top: 0;}
	&::after {bottom: 0;}

	& svg {
		top: 50%;
		left: 50%;
		width: 20px;
		position: absolute;
		transform: translate(-50%, -50%);
		transition: fill 0.3s ease 0s;
		will-change: fill;
	}

	&:hover svg {
		fill: var(--color-main);
	}
}

.article-slider__prev {
	left: -100px;
	transform: rotate(180deg);

	@media (--mobile) {
		left: 0;
	}
}

.article-slider__next {
	right: -100px;

	@media (--mobile) {
		right: 0;
	}
}
