<figure class="notification">
	<a href="/" class="notification__container">
		<div class="notification__icon">
			<svg viewBox="0 0 14 14">
				<path d="M0 0h1v14H0zm1 0h1v1H1zm1 1h1v1H2zm1-1h1v1H3zm1 1h1v1H4zm1-1h1v1H5zm1 1h1v1H6zm1-1h1v1H7zM1 2h1v1H1zm2 0h1v1H3zm2 0h1v1H5zm2 0h1v1H7zm1-1h1v1H8zm1-1h1v1H9zm1 1h1v1h-1zm1-1h1v1h-1zM9 2h1v1H9zm2 0h1v1h-1zm1-1h1v1h-1zm1-1h1v1h-1zm0 2h1v1h-1zM2 3h1v1H2zm2 0h1v1H4zm2 0h1v1H6zM1 4h1v1H1zm2 0h1v1H3zm2 0h1v1H5zm2 0h1v1H7zm1-1h1v1H8zm2 0h1v1h-1zM9 4h1v1H9zm2 0h1v1h-1zm1-1h1v1h-1zm1 1h1v1h-1zM2 5h1v1H2zm2 0h1v1H4zm2 0h1v1H6zM1 6h1v1H1zm2 0h1v1H3zm2 0h1v1H5zm2 0h1v1H7zm1-1h1v1H8zm2 0h1v1h-1zM9 6h1v1H9zm2 0h1v1h-1zm1-1h1v1h-1zm1 1h1v1h-1z"/>
			</svg>
		</div>
		<p class="notification__text">
			Пробежка с беговым клубом Stride Runing — 5 км<time class="notification__time">12.04 — 12:00</time>
		</p>
	</a>
</figure>
