@import 'normalize.css';

/* Fonts */
@font-face {
	font-family: 'Arimo';
	font-weight: normal;
	font-style: normal;
	src: url('./fonts/arimo-regular.woff') format('woff');
}

@font-face {
	font-family: 'Arimo';
	font-weight: 800;
	font-style: normal;
	src: url('./fonts/arimo-bold.woff') format('woff');
}

@font-face {
	font-family: 'Anonymous Pro';
	font-weight: normal;
	font-style: normal;
	src: url('./fonts/anonymouspro-regular.woff') format('woff');
}

@font-face {
	font-family: 'Anonymous Pro';
	font-weight: 800;
	font-style: normal;
	src: url('./fonts/anonymouspro-bold.woff') format('woff');
}

@font-face {
	font-family: 'Lora';
	font-weight: normal;
	font-style: normal;
	src: url('./fonts/lora-regular.woff') format('woff');
}

/* Variables */
:root {
	/* Colors */
	--color-main: #1cde5f;

	/* Fonts */
	--font-main: 'Arimo', sans-serif;
	--font-complemetary: 'Anonymous Pro', sans-serif;
	--font-serif: 'Lora', serif;

	/* Sizes */
	--size-global-min-width: 320px;

	/* Patterns */
	--pattern-green-dot: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%225%22%20height%3D%225%22%20viewBox%3D%220%200%205%205%22%3E%0A%09%3Ccircle%20stroke%3D%220%22%20cx%3D%222.5%22%20cy%3D%222.5%22%20r%3D%220.5%22%20fill%3D%22%231cde5f%22/%3E%0A%3C/svg%3E%0A);
	--pattern-white-dot: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%225%22%20height%3D%225%22%20viewBox%3D%220%200%205%205%22%3E%0A%09%3Ccircle%20stroke%3D%220%22%20cx%3D%222.5%22%20cy%3D%222.5%22%20r%3D%220.5%22%20fill%3D%22%23fff%22/%3E%0A%3C/svg%3E%0A);
	--pattern-green-line: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAOUlEQVQImV3MwRFAUAAD0Rd1cFAZpamMg0LiZOaT4+5OMp9bkXs9vJsQdLn2D/QXaWuoikww/AV9AI/qELtIJwbuAAAAAElFTkSuQmCC);
}

/* Global styling */
html,
body {
	size: 100%;
	box-sizing: border-box;
	font-family: var(--font-main);
	min-width: var(--size-global-min-width);
}

::selection {
  background: #d2f8df;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

button {
	background-color: transparent;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	outline: 0;
	padding: 0;
	display: block;
	cursor: pointer;
}

figure {
	margin: 0;
}

address {
	font-style: normal;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Popular classes */
.fl {float: left;}
.fr {float: right;}
.db {display: block;}
.dib {display: inline-block;}
.clrfx {clear: fix;}
.vrflw {overflow: hidden;}

.dotted--green {
	background-image: var(--pattern-green-dot);
	/* background-position: center center; */
}

.background-dark {
	background-color: #1f1f1f;
}

.container {
	max-width: 1190px;
	margin: * auto;
	clear: fix;

	@media (--tablet-horizontal-only) {
		max-width: 950px;
	}

	@media (--tablet-vertical-only) {
		max-width: 710px;
	}
}

/* Media queries */
@custom-media --desktop-min screen and (min-width: 1260px);
@custom-media --tablet-horizontal-max screen and (max-width: 1260px);
@custom-media --tablet-horizontal-only screen and (max-width: 1260px) and (min-width: 951px);
@custom-media --tablet-horizontal-min screen and (min-width: 951px);
@custom-media --tablet-vertical-max screen and (max-width: 950px);
@custom-media --tablet-vertical-only screen and (max-width: 950px) and (min-width: 711px);
@custom-media --tablet-vertical-min screen and (min-width: 711px);
@custom-media --tablet-only screen and (min-width: 711px) and (max-width: 1200px);
@custom-media --mobile screen and (max-width: 710px);

/* Components */
@import '_/header.css';
@import '_/footer.css';
@import '_/notification.css';
@import '_/block-title.css';
@import '_/block-link.css';
@import '_/card.css';
@import '_/slider.css';
@import '_/feature.css';
@import '_/accordion.css';
@import '_/search.css';

/* Article */
@import '_/article/header.css';
@import '_/article/container.css';
@import '_/article/aside.css';
@import '_/article/body.css';
@import '_/article/shares.css';
@import '_/article/tags.css';
@import '_/article/slider.css';
@import '_/article/progress.css';

/* Post */
@import '_/post.css';
