.accordion {
	margin-top: 40px;

	@media (--mobile) {
		margin-top: 20px;
	}
}

.accordion__header {
	height: 65px;
	border-top: 5px solid var(--color-main);

	@media (--mobile) {
		padding: 0 10px;
		height: 40px;
	}
}

.accordion__title {
	float: left;
	text-transform: uppercase;
	margin: 0;
	font-size: 29px;
	font-weight: 800;
	line-height: 60px;

	@media (--mobile) {
		font-size: 16px;
		line-height: 35px;
	}
}

.accordion__button {
	float: right;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 60px;
	letter-spacing: 0.06em;
	font-weight: 800;
	padding-right: 16px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAQAAABQ+cdNAAAAUUlEQVQIHQXBsQmDAAAEwBMbq5AtIohziLu4h5AZxBEEK7ERyUSSWnjvqP00AFqnD7u4dKD3Fxtvp7gNBrc4vKCyiohYVAClWcSkBIDC16gAHn8AGDBPuVSoAAAAAElFTkSuQmCC);

	@nest .accordion.active & {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAQAAABQ+cdNAAAAUUlEQVQIHQXBsQ1EAAAF0CcKqjMGxd0gdrGHxAxiBIlCo7hc3EZqyfceQGE0KQCgNItYlACVVUTEpoaXr7gNBrf4adjFpQe9Sxy0/j4A3k7dA1GDGDWPckNlAAAAAElFTkSuQmCC);
	}

	@media (--mobile) {
		font-size: 10px;
		line-height: 37px;
	}
}

.accordion__container {
	max-height: 412px;
	width: 100%;
	clear: both;

	@media (--tablet-horizontal-only) {
		max-height: 342px;
	}

	@media (--tablet-vertical-only) {
		max-height: 220px;
	}

	@media (--mobile) {
		max-height: 325px;
	}

	@nest .accordion.active & {
		max-height: none;
	}
}
