.notification {
	color: #fff;
	height: 40px;
	background-color: var(--color-main);

	@media (--tablet-vertical-max) {
		height: auto;
	}

	@media (--mobile) {
		padding: 0 20px;
	}
}

.notification__container {
	height: 100%;
	display: flex;
	color: #fff;
	align-items: center;
	justify-content: center;
	font-size: 0;

	@media (--tablet-vertical-max) {
		display: block;
		max-width: 420px;
		margin: 0 auto;
		overflow: hidden;
		padding: 10px 0;
	}
}

.notification__icon {
	width: 30px;
	height: 30px;
	flex: 0 0 30px;
	overflow: hidden;
	position: relative;
	margin-right: 10px;
	border-radius: 100%;
	border: 1px solid #fff;

	& svg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 15px;
		height: 15px;
		fill: #fff;
		margin: calc(15px / 2 * -1) 0 0 calc(15px / 2 * -1);
	}

	@media (--tablet-vertical-max) {
		float: left;
	}
}

.notification__time {
	font-family: var(--font-complemetary);
	font-weight: 800;
	font-size: 15px;
	line-height: 21px;
	display: inline-block;
	margin-top: 2px;
	vertical-align: top;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);

	@media (--tablet-vertical-max) {
		margin-left: 0;
		padding-left: 0;
		border-left: 0;
		font-size: 15px;
		line-height: 15px;
		padding-top: 2px;
		margin-top: 0;
	}

	@media (--mobile) {
		display: block;
	}
}

.notification__text {
	font-size: 14px;
	line-height: 27px;
	margin: 0;
	font-weight: 800;

	@media (--tablet-vertical-max) {
		font-size: 14px;
		line-height: 20px;
		overflow: hidden;
	}
}
