<div class="article-body" data-article-text>
	<p class="article-body__lead">
		Первое место в «десятке» Афинского марафона, первое место в Московском полумарафоне, личный рекорд 1:05:38 на Кёльнском полумарафоне — бегун-любитель и программист Искандер Ядгаров демонстрирует профессиональные результаты. Stride Mag встретился с этим человеком выдающихся способностей и потенциала и записал его историю непреклонности и силы духа.
	</p>

	<div class="article__body-inner">
		<p>Обычно люди, у которых столько амбиций в спорте, из спортивной семьи — это твой случай? Мой отец тоже бегал, но его беговая карьера быстро завершилась: единственный свой марафон (кстати, московский) он ещё в юности не добежал из-за жары. В школе, где я учился, он работал учителем физкультуры, но почти никогда не брал меня на соревнования. Разочаровавшись в спорте, всячески меня от серьёзного спорта отговаривал и хотел, чтобы я больше работал головой. Впоследствии я окончил МГУ ВМК и благодарен отцу за это. Если бы я полностью посвятил себя спорту, жизнь моя была бы намного хуже. Спортсменам тяжело живется в России без государствен- ной поддержки. А я независим, спонсирую себя сам.</p>

		<blockquote>Проблемы с мотивацией у людей связаны не с ленью, а с отсутствием осознания того, зачем нужно что-то делать.</blockquote>

		<p>Тем не менее, помимо желания отца, ты с детства занимался спортом? Серьёзно спортом в детстве я никогда не занимался, понемногу ходил на разные секции. А в седьмом классе подавно ушел в учебу, поступив в татарско-турецкий лицей в Казани, где точные предметы вели на английском и преподавали четыре языка.  Ко времени поступления в МГУ меня уже немножко тянуло к бегу, что-то заставило меня написать «Лёгкая атлетика» на распреде- лении на первом курсе. Сначала хотел обыграть хотя бы сокурсников; как только это получилось, цели выросли. Я быстро прогрессировал. Думаю, в значительной мере помогли гены. Я проходил диагностику в спортивном центре, и в том числе выявилась некая. Да и потом, видя, как одни люди безуспешно вкалывают, а другие «без труда» улучшают свои результаты, трудно было не согласиться с тем, что врождённые качества играют важную роль. Это одна из несправедливостей в большом спорте.</p>

		{{> article/_/slider}}

		<p>Мой отец тоже бегал, но его беговая карьера быстро завершилась: единственный свой марафон (кстати, московский) он ещё в юности не добежал из-за жары. В школе, где я учился, он работал учителем физкультуры, но почти никогда не брал меня на соревнования. Разочаровавшись в спорте, всячески меня от серьёзного спорта отговаривал и хотел, чтобы я больше работал головой. Впоследствии я окончил МГУ ВМК и благодарен отцу за это. Если бы я полностью посвятил себя спорту, жизнь моя была бы намного хуже. Спортсменам тяжело живется в России без государствен- ной поддержки. А я независим, спонсирую себя сам.</p>

		<figure>
			<img src="https://cdn2.stormgrounds.com/stormgrounds-cdn/media/Black-Vertical-Lines.jpg"/>

			<figcaption>
				Искандер на финиширует свой последний марафон в Дубае
			</figcaption>
		</figure>

		<p><strong class="speech">S.</strong> Обычно люди, у которых столько амбиций в спорте, из спортивной семьи — это твой случай?</p>
		<p><strong class="speech">И.</strong> Мой отец тоже бегал, но его беговая карьера быстро завершилась: единственный свой марафон (кстати, московский) он ещё в юности не добежал из-за жары. В школе, где я учился, он работал учителем физкультуры, но почти никогда не брал меня на соревнования. Разочаровавшись в спорте, всячески меня от серьёзного спорта отговаривал и хотел, чтобы я больше работал головой. Впоследствии я окончил МГУ ВМК и благодарен отцу за это. Если бы я полностью посвятил себя спорту, жизнь моя была бы намного хуже. Спортсменам тяжело живется в России без государствен- ной поддержки. А я независим, спонсирую себя сам.</p>
		<p><strong class="speech">S.</strong> Обычно люди, у которых столько амбиций в спорте, из спортивной семьи — это твой случай?</p>
		<p><strong class="speech">И.</strong> Мой отец тоже бегал, но его беговая карьера быстро завершилась: единственный свой марафон (кстати, московский) он ещё в юности не добежал из-за жары. В школе, где я учился, он работал учителем физкультуры, но почти никогда не брал меня на соревнования. Разочаровавшись в спорте, всячески меня от серьёзного спорта отговаривал и хотел, чтобы я больше работал головой. Впоследствии я окончил МГУ ВМК и благодарен отцу за это. Если бы я полностью посвятил себя спорту, жизнь моя была бы намного хуже. Спортсменам тяжело живется в России без государствен- ной поддержки. А я независим, спонсирую себя сам.</p>

		<figure class="full">
			<img src="http://pre04.deviantart.net/8eda/th/pre/f/2015/081/e/0/black_i_rectangle_by_carlostown-d8mpipp.png"/>

			<figcaption>
				Искандер на финиширует свой последний марафон в Дубае
			</figcaption>
		</figure>

		<p>Мой отец тоже бегал, но его беговая карьера быстро завершилась: единственный свой марафон (кстати, московский) он ещё в юности не добежал из-за жары. В школе, где я учился, он работал учителем физкультуры, но почти никогда не брал меня на соревнования. Разочаровавшись в спорте, всячески меня от серьёзного спорта отговаривал и хотел, чтобы я больше работал головой. Впоследствии я окончил МГУ ВМК и благодарен отцу за это. Если бы я полностью посвятил себя спорту, жизнь моя была бы намного хуже. Спортсменам тяжело живется в России без государствен- ной поддержки.  А я независим, спонсирую себя сам.</p>
		<h4>Как пробежать первый марафон</h4>
		<p>Серьёзно спортом в детстве я никогда не занимался, понемногу ходил на разные секции. А в седьмом классе подавно ушел в учебу, поступив в татарско-турецкий лицей в Казани, где точные предметы вели на английском и преподавали четыре языка. Ко времени поступления в МГУ меня уже немножко тянуло к бегу, что-то заставило меня написать «Лёгкая атлетика» на распреде- лении на первом курсе. Сначала хотел обыграть хотя бы сокурсников; как только это получилось, цели выросли. Я быстро прогрессировал. Думаю, в значительной мере помогли гены. Я проходил диагностику в спортивном центре, и в том числе выявилась некая предрасположенность к вынос- ливости. Да и потом, видя, как одни люди безуспешно вкалывают, а другие «без труда» улучшают свои результаты, трудно было не согласиться с тем, что врождённые качества играют важную роль. Это одна из несправедливостей в большом спорте.</p>

		<h6>Спокойный старт</h6>
		<p>Сначала хотел обыграть хотя бы сокурсников; как только это получилось, цели выросли. Я быстро прогрессировал. Думаю, в значительной мере помогли гены.</p>

		<h6>Береги силы</h6>
		<p>Думаю, в значительной мере помогли гены. Я проходил диагностику в спортивном центре, и в том числе выявилась некая предрасположенность к вынос- ливости.</p>

		<hr/>
	</div>

	<ul class="article-share-popopver" data-article-share-popover>
		<li>
			<a href="/" class="article-share-popover__button">
				<svg viewBox="0 0 10 17">
					<path d="M1002.26 4483.97h-3v3.69h3v7.34h4v-7.34h2.82l.18-3.69h-3v-1.65c0-.47.09-.66.56-.66h2.44V4478h-4.41c-1.79 0-2.59.79-2.59 2.31v3.66z" transform="translate(-999.25 -4478)"/>
				</svg>
			</a>
		</li>
		<li>
			<a href="/" class="article-share-popover__button">
				<svg viewBox="0 0 20.47 12">
					<path d="M1125.2 4486.88s2.7-3.8 2.97-5.06a.511.511 0 0 0-.57-.69h-2.35a.852.852 0 0 0-.89.57 21.312 21.312 0 0 1-2.81 4.4 1.493 1.493 0 0 1-1.02.71c-.22 0-.32-.18-.32-.68v-4.34c0-.61-.07-.79-.57-.79h-3.75a.416.416 0 0 0-.47.4c0 .57.88.7.88 2.25v3.2c0 .64-.04.89-.34.89-.81 0-2.72-2.77-3.79-5.92a.942.942 0 0 0-1.06-.82h-2.34a.557.557 0 0 0-.59.57c0 .63.73 3.53 3.61 7.41 1.93 2.61 4.47 4.02 6.76 4.02 1.39 0 1.73-.23 1.73-.82v-2.01c0-.5.2-.71.49-.71.32 0 .89.1 2.21 1.41 1.58 1.5 1.68 2.13 2.54 2.13h2.63a.488.488 0 0 0 .52-.57c0-.59-.77-1.65-1.95-2.9-.48-.64-1.27-1.34-1.52-1.66-.36-.38-.25-.59 0-.99z" transform="translate(-1108.19 -4481)"/>
				</svg>
			</a>
		</li>
		<li>
			<a href="/" class="article-share-popover__button">
				<svg viewBox="0 0 20.47 12">
					<path d="M1125.2 4486.88s2.7-3.8 2.97-5.06a.511.511 0 0 0-.57-.69h-2.35a.852.852 0 0 0-.89.57 21.312 21.312 0 0 1-2.81 4.4 1.493 1.493 0 0 1-1.02.71c-.22 0-.32-.18-.32-.68v-4.34c0-.61-.07-.79-.57-.79h-3.75a.416.416 0 0 0-.47.4c0 .57.88.7.88 2.25v3.2c0 .64-.04.89-.34.89-.81 0-2.72-2.77-3.79-5.92a.942.942 0 0 0-1.06-.82h-2.34a.557.557 0 0 0-.59.57c0 .63.73 3.53 3.61 7.41 1.93 2.61 4.47 4.02 6.76 4.02 1.39 0 1.73-.23 1.73-.82v-2.01c0-.5.2-.71.49-.71.32 0 .89.1 2.21 1.41 1.58 1.5 1.68 2.13 2.54 2.13h2.63a.488.488 0 0 0 .52-.57c0-.59-.77-1.65-1.95-2.9-.48-.64-1.27-1.34-1.52-1.66-.36-.38-.25-.59 0-.99z" transform="translate(-1108.19 -4481)"/>
				</svg>
			</a>
		</li>
	</ul>
</div>

<script>
	(function () {
		var $popover = document.querySelector('[data-article-share-popover]');

		function getSelectionCoords(win) {
			win = win || window;
			var doc = win.document;
			var sel = doc.selection, range, rects, rect;
			var x = 0, y = 0;

			if (sel) {
				if (sel.type != 'Control') {
					range = sel.createRange();
					range.collapse(true);
					x = range.boundingLeft;
					y = range.boundingTop;
				}
			} else if (win.getSelection) {
				sel = win.getSelection();
				if (sel.rangeCount) {
					range = sel.getRangeAt(0).cloneRange();
					if (range.getClientRects) {
						range.collapse(true);
						rects = range.getClientRects();
						if (rects.length > 0) {
							rect = rects[0];
						}
						x = rect.left;
						y = rect.top;
					}
					if (x == 0 && y == 0) {
						var span = doc.createElement('span');
						if (span.getClientRects) {
							span.appendChild(doc.createTextNode('\u200b'));
							range.insertNode(span);
							rect = span.getClientRects()[0];
							x = rect.left;
							y = rect.top;
							var spanParent = span.parentNode;
							spanParent.removeChild(span);
							spanParent.normalize();
						}
					}
				}
			}

			return { x: x, y: y };
		}

		function getSelectionText() {
			var text = '';
			var activeEl = document.activeElement;
			var activeElTagName = activeEl ? activeEl.tagName.toLowerCase() : null;
			if (
				(activeElTagName == 'textarea') || (activeElTagName == 'input' &&
					/^(?:text|search|password|tel|url)$/i.test(activeEl.type)) &&
				(typeof activeEl.selectionStart == 'number')
			) {
				text = activeEl.value.slice(activeEl.selectionStart, activeEl.selectionEnd);
			} else if (window.getSelection) {
				text = window.getSelection().toString();
			}
			return text;
		}

		function debounce(func, wait, immediate) {
			var timeout;
			return function() {
				var context = this, args = arguments;
				var later = function() {
					timeout = null;
					if (!immediate) func.apply(context, args);
				};
				var callNow = immediate && !timeout;
				clearTimeout(timeout);
				timeout = setTimeout(later, wait);
				if (callNow) func.apply(context, args);
			};
		};

		var isShown = false;
		var onSelection = function() {
			var text = getSelectionText();

			if (text) {
				isShown = true;
				var coords = getSelectionCoords();
				$popover.style.display = 'block';
				$popover.style.top = coords.y + 'px';
				$popover.style.left = coords.x + 'px';
			} else if (isShown) {
				isShown = false;
				$popover.style.display = 'none';
			}
		};

		window.document.addEventListener('selectionchange', debounce(onSelection, 250), false);
		window.document.addEventListener('selectionchange', debounce(onSelection, 250, true), false);
		window.addEventListener('scroll', onSelection, false);
	})();
</script>
