<ul class="article-tags">
	<li class="article-tags__tag">
		<a href="/tags" class="article-tags__link">Кросс</a>
	</li>

	<li class="article-tags__tag">
		<a href="/tags" class="article-tags__link">adidas YEEZY Boost</a>
	</li>

	<li class="article-tags__tag">
		<a href="/tags" class="article-tags__link">nike flyknit</a>
	</li>

	<li class="article-tags__tag">
		<a href="/tags" class="article-tags__link">London Olympics</a>
	</li>

	<li class="article-tags__tag">
		<a href="/tags" class="article-tags__link">Марафон</a>
	</li>

	<li class="article-tags__tag">
		<a href="/tags" class="article-tags__link">Мотивация</a>
	</li>

	<li class="article-tags__tag">
		<a href="/tags" class="article-tags__link">nike</a>
	</li>
</ul>
