<header class="post-header">
	<div class="card__caption">
		<a href="/category" class="card__category">{{main.feature.category}}</a>
		<time class="card__date">{{main.feature.date}}</time>
	</div>

	<h1 class="article-header__title post-header__title">Сетка и нитка: Три новых модели кроссовок от Nike</h1>

	<figure class="post-header__image"></figure>
</header>
