<!DOCTYPE html>
<html>
<head>
	<title>Stridemag</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
	{{> _/header}}
	{{> _/notification}}

	{{> index/_/feature}}
	{{> index/_/cards-1 title="Правила бега"}}
	{{> index/_/cards-2}}
	{{> index/_/cards-1 title="Правила бега"}}

	{{> index/_/slider}}

	{{> _/footer}}
</body>
</html>
